<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Material Cards | Simple Demo</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/material-cards.css') }}">
    <style type="text/css">
        btn{
            background-color: darkorchid;
            border-radius: 12px;
        }
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            background-color: #ECEFF1;
            color: #37474F;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

        h1, h2, h3 {
            font-weight: 200;
        }

    </style>
</head>
<body>
    
    
<section class="container">
    <div class="page-header">
        <h1>Gilded Rose stores  <br>
            <small>Here is the products </small></h1>
    </div>
    <div class="row active-with-click">
        {% for product in products %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Purple">
                <h2>

                    <span>{{product[1]}}</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Quality:{{product[3]}}
                    </strong>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Sell - in :{{product[2]}}
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                      <img class="img-responsive" src="{{ url_for('static',filename='images/demo.jpg') }}">
                      </div>
                   
                </div>
                
               
            </article>
        </div>
          {% endfor %}
       
    </div>
    
</section>
    <div class=" text-center"style="margin: 12px;">
        <button class="btn" > <a  style="color: black;"href="{{ url_for('update') }}">Update</a> </button>
    </div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>
</body>
</html>